# =================================================================
# GLOBAL - Ferramentas, IDEs e Sistema
# =================================================================
.vscode/
.idea/
*.iml
/shelf/
/workspace.xml
.metadata/
*.swp
*.log
.DS_Store
Thumbs.db
tempCodeRunnerFile*

# =================================================================
# JAVA (IntelliJ, Eclipse e NetBeans)
# =================================================================
# Arquivos compilados e pastas de saída
*.class
out/
bin/
[Bb]in/
target/
dist/
build/
[Bb]uild/
.gradle/

# Exceções para garantir que diretórios de build específicos do Maven não sejam ignorados se necessário
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Configurações de IDEs e Logs
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.kotlin
*.jar
*.war
*.ear
.lib/

# =================================================================
# C / C++ (Lógica de Programação)
# =================================================================
*.exe
*.out
*.app
*.o
*.obj
*.so
*.dll
*.dylib
[Dd]ebug/
[Rr]elease/
*.vcxproj
*.sln

# =================================================================
# PYTHON e C#
# =================================================================
__pycache__/
*.py[cod]
.venv/
*.egg-info/
[Oo]bj/
*.user
*.suo
.vs/

# =================================================================
# SPRING BOOT 
# =================================================================
help.md
.mvn/
mvnw
mvnw.cmd