### --- Binários e Compilação --- ###
*.class
bin/
obj/
*.exe
*.dll
.project
.classpath
.settings/
.iml
.xml

### --- IDEs (VS Code e Visual Studio) --- ###
.vscode/
.vs/
*.user
*.suo

### --- Ferramentas e Temporários --- ###
tempCodeRunnerFile*
*.log
