### --- Binários e Compilação --- ###
bin/
obj/
*.exe
*.dll

### --- IDEs (VS Code e Visual Studio) --- ###
.vscode/
.vs/
*.user
*.suo

### --- Ferramentas e Temporários --- ###
tempCodeRunnerFile*
*.log